<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>sbot Configuration</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
    <div id="app" class="container">

    </div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html> 